<div class="form-group">
    <label class="block-options-label">Backend:</label>
    <div class="btn-group" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>{{block.backend.name || '- choose backend -'}}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" ng-controller="controller_sql_QueryPlugin">
            <li ng-repeat="cl in allBackends | filter:{language: block.plugin.queryLanguage}:true">
                <a ng-click="block.backend = cl">{{cl.name}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="form-group">
    <label class="block-options-label">Update interval (sec):</label>
    <input type="number" class="form-control" ng-model="block.updatePeriod" style="display: inline-block; width: auto;" />
</div>
