<div class="form-group">
    <label class="block-options-label">Cluster:</label>
    <div class="btn-group" dropdown>
        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>{{block.cluster.name}}<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="cl in block.allClusters">
                <a ng-click="block.cluster = cl">{{cl.name}}</a>
            </li>
        </ul>
    </div>
</div>
<div class="form-group">
    <label class="block-options-label">Update interval (sec):</label>
    <input type="number" class="form-control" ng-model="block.updatePeriod" style="display: inline-block; width: auto;" />
</div>
