<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h3>
                Saved backends
                <button class="btn btn-primary btn-sm" type="button" ng-click="createNew()">
                    Create new <i class="glyphicon glyphicon-plus"></i>
                </button>
            </h3>

            <table class="table" style="border:1px solid #ddd;">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>End point</th>
                    <th>Path to data</th>
                    <th>Path to error</th>
                    <th>Language</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="b in list">
                    <td><a ng-click="editInDialog(b)">{{b.name}}</a></td>
                    <td>{{b.endPoint}}</td>
                    <td>{{b.pathToData}}</td>
                    <td>{{b.pathToError}}</td>
                    <td>{{b.language}}</td>
                    <td>
                        <button class="btn btn-default" ng-click="editInDialog(b)"><i
                                class="glyphicon glyphicon-pencil"></i></button>
                        <button class="btn btn-danger" ng-click="remove(b)"><i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
