<h3>
    Saved clusters
    <button class="btn btn-primary btn-sm" type="button" ng-click="createNew()">
        Create new <i class="glyphicon glyphicon-plus"></i>
    </button>
</h3>

<table class="table" style="border:1px solid #ddd;">
    <thead>
        <tr>
            <th>Name</th>
            <th>End point</th>
            <th>Path to data</th>
            <th>Path to error</th>
            <th>Language</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in list">
        <td>{{c.name}}</td>
        <td>{{c.endPoint}}</td>
        <td>{{c.pathToData}}</td>
        <td>{{c.pathToError}}</td>
        <td>{{c.language}}</td>
        <td>
            <button class="btn btn-default" ng-click="editInDialog(c)"><i class="glyphicon glyphicon-pencil"></i></button>
            <button class="btn btn-danger" ng-click="remove(c)"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
    </tr>
    </tbody>
</table>