<h2 class="text-center">Plot options</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-12">
            <div>
                <label>Key:
                    <select ng-model="block.options.key" ng-options="value for value in block.options.availableKeys">
                        <option value="">[index]</option>
                    </select>
                </label>
            </div>
            <div>
                <label>Value:
                    <select ng-model="block.options.value"
                            ng-options="value for value in block.options.availableValues">
                        <option value="">[index]</option>
                    </select>
                </label>
            </div>
            <div>
                <label>Group by:
                    <select ng-model="block.options.groupBy"
                            ng-options="value for value in block.options.availableValues">
                        <option value="">[none]</option>
                    </select>
                </label>
            </div>
            <div class="btn-group dropdown-char-type" dropdown>
                <button type="button" class="btn btn-default"
                        ng-class="{active: block.type !== types.grid}"
                        ng-click="selectType(prevType)"
                        >
                    <i class="glyphicon" ng-class="{
                        'glyphicon-stats': prevType === types.multiBarChart,
                        'glyphicon-picture': prevType === types.lineChart,
                        'glyphicon-adjust': prevType === types.pieChart,
                    }"></i>
                    <i class="icon__usa-map_14"  ng-show="prevType === types.mapChart"></i>
                </button>

                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li ng-click="selectType(types.multiBarChart)" class="text-center menu-item">
                        <i class="glyphicon glyphicon-stats"></i>
                    </li>
                    <li ng-click="selectType(types.lineChart)" class="text-center menu-item">
                        <i class="glyphicon glyphicon-picture"></i>
                    </li>
                    <li ng-click="selectType(types.pieChart)" class="text-center menu-item">
                        <i class="glyphicon glyphicon-adjust"></i>
                    </li>
                    <li ng-click="selectType(types.mapChart)" class="text-center menu-item">
                        <i class="icon__usa-map_14"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10 col-md-12">
            <div class="row" ng-if="block.type === types.multiBarChart">
                <div class="col-lg-12 presentation-control-container-chart" plot-multi-bar-chart plot-data="block">
                </div>
            </div>
            <div class="row" ng-if="block.type === types.lineChart">
                <div class="col-lg-12 presentation-control-container-chart" plot-line-chart plot-data="block">
                </div>
            </div>
            <div class="row" ng-if="block.type === types.pieChart">
                <div class="col-lg-12 presentation-control-container-chart" plot-pie-chart plot-data="block">
                </div>
            </div>
            <div class="row" ng-if="block.type === types.mapChart">
                <div class="col-lg-12 presentation-control-container-chart" plot-map-chart plot-data="block">
                </div>
            </div>
        </div>
    </div>
    <div>
        <p class="clearfix">
            <button class="btn btn-default pull-right" ng-click="close()">Close</button>
        </p>
    </div>
</div>