.notebook-block {
  position: relative;
  margin-top: 15px;
}

.edit-mode {
  .notebook-block {
    &:hover {
      .notebook-buttons-block {
        display: block;
      }

      .notebook-block-resize {
        display: block;
      }
    }
  }
}

.notebook-buttons-block {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #e4e4e4;
  font-size: 18px;

  i {
    cursor: pointer;
  }

  i:hover {
    color: #9b9b9b;
  }
  i + i {
    margin-left: 3px;
  }
}

.notebook-block-resize {
  display: none;
  position: absolute;
  top: 31px;
  left: -1px;
  color: #bbbbbb;

  .notebook-block-resize-btn {
    font-size: 10px;
    padding: 1px 2px;
    border: 1px solid #bbbbbb;
    border-radius: 0px 4px 4px 0px;
    margin-bottom: 2px;

    &:hover {
      color: #9b9b9b;
    }
  }
}

.notebook-block-content {
  position: relative;
  border: 1px solid #d6d6d6;
  padding: 0 10px 0px 10px;
  border-radius: 4px;
}

.edit-mode {
  .notebook-block:hover {
    .notebook-block-content {
      border-color: #d6d6d6;
    }
  }
}

.view-mode {
  .notebook-block-query {
    display: none;
  }
  .notebook-block_buttons {
    display: none;
  }
  .notebook-block__title-editable {
    display: none;
  }
  .notebook-block__title{
    display: block;
  }
}

.notebook-block__title {
  display: none;
}

.notebook-block__title-editable {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-style: dashed;
  margin-top: 25px;
  margin-bottom: 10px;
}