<div ng-if="block.error" class="">
    {{block.error}}
</div>

<div ng-if="block.type === types.grid" class=" presentation-control-container-table" plot-grid plot-data="block">
</div>

<div ng-if="block.type === types.multiBarChart" class=" presentation-control-container-chart" plot-multi-bar-chart
     plot-data="block">
</div>

<div ng-if="block.type === types.lineChart" class=" presentation-control-container-chart" plot-line-chart
     plot-data="block">
</div>

<div class="" ng-if="block.type === types.pieChart">
    <div class=" presentation-control-container-chart" plot-pie-chart plot-data="block">
    </div>
</div>

<div class="" ng-if="block.type === types.mapChart">
    <div class="presentation-control-container-table" plot-map-chart plot-data="block">
    </div>
</div>

<div class="presentation-block-buttons">
    <div style="padding-bottom: 15px;">
        <button class="btn btn-default" ng-class="{active: block.type === types.grid}"
                ng-click="selectType(types.grid)">
            <i class="glyphicon glyphicon-barcode"></i>
        </button>

        <button class="btn btn-default" ng-class="{active: block.type === types.multiBarChart}"
                ng-click="selectType(types.multiBarChart)">
            <i class="glyphicon glyphicon-stats"></i>
        </button>


        <button class="btn btn-default" ng-class="{active: block.type === types.lineChart}"
                ng-click="selectType(types.lineChart)">
            <i class="glyphicon glyphicon-picture"></i>
        </button>

        <button class="btn btn-default" ng-class="{active: block.type === types.pieChart}"
                ng-click="selectType(types.pieChart)">
            <i class="glyphicon glyphicon-adjust"></i>
        </button>

        <button class="btn btn-default" ng-class="{active: block.type === types.mapChart}"
                ng-click="selectType(types.mapChart)">
            <i class="icon__usa-map_14"></i>
        </button>




        <button class="btn btn-default" ng-hide="block.type == types.grid"
                ng-click="showPlotOptions(block, plotOptions)">
            <i class="glyphicon glyphicon-cog"></i>
        </button>

        <span ng-show="block.updatePeriod" style="padding-left: 20px; color: gray;">Update interval: <b>{{block.updatePeriod}}</b> sec.</span>
    </div>
</div>