.big-number-chart {
  height: 100%;
  position:relative;

  .plot-label {
    text-align: center;
    font-size: 0px;
    position: absolute;
    /* border: 1px solid #ddd; */
  }

  .arrow {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
  }

  .arrow.up{
    color:green;
  }

  .arrow.down{
    color:red;
  }

  .down .arrow.up,
  .up .arrow.down {
    display: none;
  }

  .value{
    font-size:100px;
  }

  .points,
  .value {
    color: rgb(1, 67, 123);
    display: inline-block;
  }

  .points {
    font-size: 30px;
    font-weight: bold;
  }
}